<header>
  <nav>
    <span><img src="assets/images/logo3.png" alt="logo site web" /></span>
    <div class="menu-btn" (click)="toggleMenu()">
      <span><a routerLink="/home">Home</a></span>
      <span><a routerLink="/education">Education</a></span>
      <span><a routerLink="/skill">Skill</a></span>
      <span><a routerLink="/project">Project</a></span>
      <span><a routerLink="/projection">Projection</a></span>
      <span><a routerLink="/contact">Contact-Me</a></span>
    </div>
    <ul [class.active]="menuOpen">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/education">Education</a></li>
      <li><a routerLink="/skill">Skill</a></li>
      <li><a routerLink="/project">Project</a></li>
      <li><a routerLink="/projection">Projection</a></li>
      <li><a routerLink="/contact">Contact-Me</a></li>
    </ul>
  </nav>
  <main>
    <section class="G_C">
      <div class="texte">
        <div class="title">
          <h1>Hi all, I'm Merveil</h1>
        </div>
        <div class="description">
          <p>
            I am passionate Full Stack Software Developer Having an experience of building web and
            Mobile applications with Flutter/Angular/Nestjs and DotNet.
          </p>
        </div>
        <div class="logo">
          <a href="">
            <img src="https://img.icons8.com/?size=100&id=8808&format=png&color=3F5BBF" alt=""
          /></a>
          <a href=""
            ><img src="https://img.icons8.com/?size=100&id=12599&format=png&color=ffffff" alt=""
          /></a>
          <a
            ><img src="https://img.icons8.com/?size=100&id=53388&format=png&color=D73627" alt=""
          /></a>
        </div>
        <div class="btn">
          <button>Contact-Me</button>
          <button>Download My RESUME</button>
        </div>
      </div>
    </section>
  </main>
</header>
